/* App.css */
.app {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: black;
  text-align: center;
}

.app-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 8px;
  color: white;
  background-color: black;
  box-shadow: beige;
}
